<template>
  <p class="text-muted m-0 pt-1 pl-3 text-left text-sm-right">
    <small>
      Made by
      <a href="https://gitlab.com/asdrubalp9/" target="_blank">Asdrubal Perez</a>
    </small>
  </p>
</template>

<script>
export default {
  name: 'MadeByFoot'
}
</script>