<template>
    <div class="home-title text-center">
            <h1  v-diablo:bone class="my-5 font-diablo">
                Buscador de perfiles de Diablo 3
            </h1>
            <p class="lead text-muted">
                <em>
                    Ingresa tu 
                    <a href="https://eu.battle.net/support/es/article/75767" target="_blank" title="Format:TuPerfil#123">
                        battle-tag
                    </a>
                </em>
                Y selecciona la región de tu perfil
            </p>
            <hr class="mt-3"/>

    </div>
</template>
<script>
    export default {
        name: 'HomeTitle'
    }
</script>