<template>
  <div id="app">
    <LoadLayout v-if="isLoading">
        <BaseLoading/>
    </LoadLayout>
    <MainLayout v-else/>
    
  </div>
</template>
<script>
import { mapState } from 'vuex'

import LoadLayout from './layouts/LoadLayout'
import MainLayout from './layouts/MainLayout'
import BaseLoading from '@/components/BaseLoading.vue'

export default {
  name:'App',
  components: {
    MainLayout,
    LoadLayout,
    BaseLoading,
  },
  computed: {
    ...mapState('loading', {
      isLoading: 'isLoading'
    })
  }
}

</script>
<style lang="stylus">
#app
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #ffffff
  background-color #15202b 
body
  background-color #15202b 
</style>
