<template>
    <div>
        <h1 class="font-diablo my-4">
            Lista de heroes
        </h1>
        <b-table :items="heroes" :fields="fields" dark  hover small stripped stacked="sm">
            <template v-slot:cell(name)="data">
                <HeroIco :hero="data.item" /> 
            </template>
            <template v-slot:cell(class)="data">
                <HeroClassLevel :hero="{ class: data.item.classSlug, level: data.item.level }"/>
            </template>
            <template v-slot:cell(kills)="data">
              <span>{{ data.item.kills.elites | formatNumber }}</span>
            </template>
        </b-table>
    </div>
</template>

<script>
import  HeroIco  from './HeroIco';
import  HeroClassLevel  from './HeroClassLevel';
import { formatNumber } from '@/filters/numeral'

export default {
    name: 'HeroesList',
    components: {HeroIco, HeroClassLevel},
    filters: {
        formatNumber
    },
    data () {
        return {
            fields: [
                {
                    key:'name',
                    label: 'Nombre'
                },
                {
                    key: 'class',
                    label: 'Clase',
                    sortable: true
                },
                {
                    key: 'kills',
                    label: 'Elite kills',
                    sortable:true
                }
            ]
        }
    },
    props: {
        heroes: {
            required: true,
            type: Array
        }
    }
}
</script>